{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title"> Detect </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('views.home')}}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Detect Fruit Grading</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-12 col-12">
        <div class="card card-box">
            <div class="card-header">Detect Fruits Grade</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <form class="form form-horizontal" method="post" enctype="multipart/form-data"
                            action="/svm/detect">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Fruit Image</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input autofocus type="file" id="image" name="image" class="form-control"
                                        accept="image/*" capture required autofocus />
                                </div>
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Save Changes</button>
                                </div>
                            </div>
                        </form>
                        <form class="form form-horizontal" method="post" action="/live-detect">
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">Live Detection</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6" style="{{display_style}}">
                        <img class="mb-4" src="{{base64_image}}" alt="submitted image" width="100%">
                        <h4 class="mb-3 fw-normal">
                            <div>Fruit Grade is : ({{freshness_label}})</div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}