<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
                <div class="nav-profile-image">
                    <img src="/static/assets/images/faces/face1.jpg" alt="profile" />
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
                    <span class="font-weight-semibold mb-1 mt-2 text-center">{{user.fname}}</span>
                    <span class="text-secondary icon-sm text-center">{{user.category}}</span>
                </div>
            </a>
        </li>
        <li class="pt-2 pb-1">
            <span class="nav-item-head">Menus</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('views.home')}}">
                <i class="mdi mdi-compass-outline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('views.datasets')}}">
                <i class="mdi mdi mdi-database menu-icon"></i>
                <span class="menu-title">Dataset</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('views.scan')}}">
                <i class="mdi mdi mdi-barcode-scan menu-icon"></i>
                <span class="menu-title">Scanned</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('detect.detects')}}">
                <i class="mdi mdi mdi-image menu-icon"></i>
                <span class="menu-title">Detect</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.users')}}">
                <i class="mdi mdi mdi-account-multiple menu-icon"></i>
                <span class="menu-title">Users</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.profile')}}">
                <i class="mdi mdi mdi-account menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>
        <li class="nav-item pt-3">
            <a class="nav-link" href="{{url_for('auth.logout')}}" target="_blank">
                <i class="mdi mdi mdi-logout-variant menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>