{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title"> Users </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('views.home')}}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Users</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="card-box mb-30">
        <div class="pd-20 d-flex justify-content-between mb-3">
            <h4 class="text-dark h4">Manage User Data</h4>
            <a href="#" class="btn icon icon-left btn-primary btn-sm" data-bs-toggle="modal"
                data-bs-target="#addUserModal">
                <i class="bi bi-plus-lg"></i>
                Add User
            </a>
        </div>
        <div class="pb-20">
            <table id="order-listing" class="table">
                <thead>
                    <tr>
                        <th class="table-plus datatable-nosort">#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Category</th>
                        <th class="datatable-nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="table-plus">{{ user.fname +" "+ user.mname + " " + user.lname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.category }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-icon-text"
                                onclick="deleteUser({{user.id}})">
                                <i class="mdi mdi-delete btn-icon-prepend"></i> Delete </button>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalTitle" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalTitle">Add User</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="first_name" required />
                            </div>
                            <div class="form-group">
                                <label>Middle Name </label>
                                <input type="text" class="form-control" name="middle_name" />
                            </div>
                            <div class="form-group">
                                <label>Last Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="last_name" required />
                            </div>
                            <div class="form-group">
                                <label>Category <span class="text-danger">*</span></label>
                                <select class="form-control" name="category" required>
                                    <option value="Admin">Admin</option>
                                    <option value="Staff">Staff</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Username <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="username" required />
                            </div>
                            <div class="form-group">
                                <label>Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" name="password" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>

                    <button type="submit" class="btn btn-primary ml-1">
                        <i class=" bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Save changes</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteUser(userId) {
        swal.fire({
            title: "Are you sure?",
            text: "Are you sure you want to delete this item?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel!",
        }).then(function(result) {
            if (result.value) {
                fetch("/users/destroy", {
                    method: "POST",
                    body: JSON.stringify({ userId: userId })
                })
                    .then(data => data.json())
                    .then(json => {
                        console.log(json)
                        console.log(json.redirectTo)

                        window.location.href = json.redirectTo;
                    })
            }
        });
    }
</script>

<script src="{{ url_for('static', filename='assets/js/data-table.js') }}"></script>
{% endblock %}